<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      </head>
    <body>
      <h1><a href="/connect" target="_self" >Twitter</a></h1>
      <h2><a href="/mentions" target="_self" >mentions</a></h2>
      <h2><%= @client %></h2>
      <p>¿Que Pasa?</p>
      <form action="/update" method="post">
      <textarea name="tweet"></textarea>
      <input type="submit" value="tweet"/>
      </form>
      <h2>Public TimeLine</h2>
      <% for tweet in @tweets %>
      <h3><%= tweet['user']['screen_name']%></h3>
        <img src="<%=tweet['user']['profile_image_url'] %>" />
        <p><%= tweet['text'] %></p>
      <% end %>
<html>